# Ignore all log files
*.log

# Ignore build folders
Binaries/
Intermediate/
Saved/

# Ignore packaged files
Build/
DerivedDataCache/

# Ignore specific Unreal asset types that should not be tracked
*.autosave
*.tmp
*.bak
*.uasset~*

# Ignore user-specific Unreal Engine files
*.sln
*.suo
*.user
*.userprefs
*.pdb
*.opendb
*.VC.db

# Ignore Visual Studio temporary files
.vs/
